/*초기화*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
html{ height: 100%;}
    body {
        line-height: 1; height: 100%; font-family: 'Lato', sans-serif; }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }




#menu { position: fixed; width:19%; float:left;}
#logo img { margin: 50px 0 0 50px;}
#list {margin: 80px 0 0 50px; }
#list ul li {display: block; margin: 15px;}
#list ul li a { text-decoration: none; color:black;}


.list1 {overflow: hidden;}
.list1 a { float: left; display: block; padding: 10px 10px 5px 10px;
    font-size: 1.4em ; border-bottom: 1px solid transparent;}
.list1 a:hover {font-weight: bold;}
.list1 a.active {font-weight: bold;}

#list>ul>li:nth-child(2) {font-weight: bold;}
#list ul>li:nth-child(5) {font-weight: bold;}

#filters {width:40px; height: 155px; padding: 0px 0px 5px 35px;}
#filters span { float: left; padding: 7.5px 0px; text-decoration: none; color:black; display: block; border-bottom: 1px solid transparent;}

#filters span:hover { top:-10px; border-bottom: 2px solid #00a29a; }

.projectContainer {float:right; width:81%}
.projectContainer div a img {height: 100%;float: left;}

#explain {float: left; width:25%; margin:45% 0 0 5% }

.prize {font-size: 1.2em; color: #00A79D;}
.title {font-size: 1.7em; font-weight: bold; margin-top: 30;}
.content {font-size: 1.13em;margin-top: 30;line-height:135%;}
